<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerador de Senha</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Gerar Senha</h1>
        <div id="button-container">
            <button class="btn btn-primary m-2" id="normalSenha">Senha Normal</button>
            <button class="btn btn-danger m-2" id="prioritariaSenha">Senha Prioritária</button>
        </div>
        <div class="display-1 fw-bold text-success mt-4" id="senhaDisplay" style="display: none;"></div>
        <button class="btn btn-secondary mt-4" id="voltarBtn" style="display: none;">Voltar</button>
    </div>

    <script>
        const host = "<%= host %>";
        const port = "<%= port %>";

        const socket = io(`http://${host}:${port}`);
        const normalBtn = document.getElementById('normalSenha');
        const prioritariaBtn = document.getElementById('prioritariaSenha');
        const senhaDisplay = document.getElementById('senhaDisplay');
        const voltarBtn = document.getElementById('voltarBtn');
        const buttonContainer = document.getElementById('button-container');

        function gerarSenha(tipo) {
            socket.emit('generate_sea', tipo);
        }

        socket.on('new_sea', (senha) => {
            senhaDisplay.textContent = senha;
            senhaDisplay.style.display = 'block';
            voltarBtn.style.display = 'block';
            buttonContainer.style.display = 'none';
        });

        normalBtn.addEventListener('click', () => gerarSenha('N'));
        prioritariaBtn.addEventListener('click', () => gerarSenha('P'));

        voltarBtn.addEventListener('click', () => {
            senhaDisplay.style.display = 'none';
            voltarBtn.style.display = 'none';
            buttonContainer.style.display = 'block';
        });
    </script>
</body>

</html>