<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Painel de Atendimento</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Sistema de Atendimento</h1>
        
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" onclick="redirecionar('chamar')">Chamar Senha</button>
            <button class="btn btn-secondary" onclick="redirecionar('gerar')">Gerar Senha</button>
            <button class="btn btn-success" onclick="redirecionar('painel')">Painel de Senhas</button>
            <button class="btn btn-danger" onclick="resetarSenhas()">Resetar Senhas</button>
        </div>
    </div>

    <script>
        const socket = io('http://localhost:3000');
        
        function redirecionar(pagina) {
            window.location.href = pagina;
        }

        function resetarSenhas() {
            const confirmacao = confirm("Tem certeza que deseja resetar todas as senhas?");
            if (confirmacao) {
                socket.emit('reset_queues');
                alert("Senhas resetadas com sucesso!");
            }
        }
    </script>
</body>
</html>